@charset "utf-8";
@import url(common.css);

/* 로그인 (우예지) */
#login-wrap {background:var(--bg-sub1-c); height:100vh; position:relative;}
#login-wrap .login-bg {
  width: 900px;
  height: 900px;
  background-image: url(../image/login-bg.png);
  background-position:bottom center;
  background-repeat:no-repeat;
  background-size:contain;
  position:absolute;
  left:50%; bottom:0;
  transform:translateX(-50%);
}
#login-wrap img {width:380px;}
#login-wrap form {width:578px; position:absolute; left:46%; top:50%; transform:translate(-50%, -50%);}
#login-wrap h1.mb-6{margin-bottom:34px;}
#login-wrap .etc-list{justify-content: center;}
/* #login-wrap form input{width: 100%;} */
#login-wrap form .label-ml{margin-left: 18px;}
/* .form-floating>.form-control{padding-top:2.5rem;} */
.form-floating>.form-control:focus {padding-top:2.5rem;}
.form-floating>.form-control:not(:placeholder-shown) {padding-top:2.5rem;}
.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select{height:auto; padding-top:2.5rem;}
#login-wrap .log-btn {width:563px; height:57px; font-size:2.8rem; font-family:var(--laundrygothic, 'LaundryGothic', sans-serif);}
#login-wrap .list-group.list-group-horizontal {justify-content:end;}

/* 회원가입 (우예지) */
#sign-wrap {height:100vh; position:relative;}
#sign-wrap .sign-bg {width:900px; height:900px; position:absolute; left:50%; bottom:0; transform:translateX(-50%);}
#sign-wrap img {width:380px;}
#sign-wrap form {width:578px; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);}
#sign-wrap h1.mb-6{margin-bottom:34px;}
#sign-wrap .etc-list{justify-content: center;}
/* #login-wrap form input{width: 100%;} */
#sign-wrap  form .label-ml{margin-left: 18px;}
/* .form-floating>.form-control{padding-top:2.5rem;} */
.form-floating>.form-control:focus {padding-top:2.5rem;}
.form-floating>.form-control:not(:placeholder-shown) {padding-top:2.5rem;}
.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select{height:auto; padding-top:2.5rem;}
#sign-wrap strong {color: var(--text-c2);}
#sign-wrap .log-btn {width:563px; height:57px; font-size:2.8rem; font-family:var(--laundrygothic, 'LaundryGothic', sans-serif);}
#sign-wrap .list-group-horizontal {justify-content:end;}

/* 수강바구니(우예지) */
.order-container {width:100%;}
.order-container li {border-bottom:1px solid var(--ipt-border); padding-bottom:26px;}
.order-area {gap:28px;}
.order-area .lecture-price {gap:30px;}
.order-area li {list-style:none;}
.order-list {width:932px;}
/* .check-lecture-list {border-bottom:1px solid var(--ipt-border);} */
.order-list img {width:290px; height: 102px; object-fit:cover;}
.lecture-item {gap:28px}
.lecture-item h3 {margin-bottom:28px;}
.order-list .p-small {color:var(--text-c5);}
.order-list .p-small .sale-price {color:red; margin-right:10px;}
.order-list .p-small .original-price {text-decoration: line-through;}
.order-payment {width:450px; position: sticky; top: 100px;}
.order-infor,
.order-pay {border:1px solid var(--ipt-border); border-radius:10px; padding:26px;}
.order-infor h3 a {text-decoration:underline; color:var(--text-c4);}
.order-infor ul {color:var(--text-c6); margin-top:26px;}
.order-infor ul li:first-child span {margin-left:95px;}
.order-infor ul li:nth-child(2) span {margin-left:80px;}
.order-infor ul li:last-child span {margin-left:50px;}
.order-pay {margin-top:26px;}
.order-pay div::after{content:'사용가능 (1)'; position:absolute; right:0; top:-24px; color:var(--text-c5); font-size:1.4rem;}
.order-pay div{position:relative; margin:26px 0;}
.order-pay input {width:280px; height:42px; line-height:42px; font-size:1.6rem;}
.order-pay ul li {line-height:30px;}
.order-pay ul li.mt-26 {margin-top:26px;}
.order-payment select#coupon-select {width:300px; height:42px;}
/* .order-item .original-price{color:var(--place);} */

/* 강의 리스트(우예지) */
.lecture-area ul {display:grid; grid-template-columns:repeat(3, auto); grid-gap:30px;}
.lecture-area li {list-style:none; width:370px; height:340px; border-radius:10px; overflow:hidden;}
.lecture-area li a {display:block; width:100%;}
.lecture-area li img {width:370px; height:183px; object-fit:cover;}
.lecture-area h3 {margin:10px 0;}
.lecture-area p {height: 78px; word-spacing:normal; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis;}

/* 강의 상세(우예지) */
.lecture-detail {background-color:var(--bg-sub1-c); padding:78px 0;}
.lecture-detail .container {gap:26px;}
.lecture-detail .container img {width:394px; height:200px; object-fit:cover; display:block; margin-bottom:26px; border-radius:5px;} 
.lecture-detail .page-nav, 
.lecture-detail .container h2 {margin-bottom:26px;}
.lecture-detail .page i {margin:0 5px;}
.lecture-bottom li {list-style:none;}
.lecture-detail-tit {width:800px;}
.lecture-bottom .tit-h2 {margin:78px 0;}
.lecture-bottom hr {border-color:var(--ipt-border);}
.lecture-bottom .explan-box {border-radius:10px; border:1px solid var(--ipt-border); padding: 52px; gap:52px; width:800px; margin-top:10px;}
.lecture-bottom .explan-box .big-ico i {display:block; color:var(--primary-c); margin-bottom:26px;}
.lecture-bottom .explan-box .fa-check {color:var(--text-c2); margin-right:16px;}
.lecture_most {display:grid; grid-template-columns:repeat(4, auto); grid-gap:26px; padding:0;}
.lecture_most li {list-style:none; width:320px; height:340px; border-radius:10px; overflow:hidden;}
.lecture_most li a {display:block; width:100%;}
.lecture_most li img {width:330px; height:183px; object-fit:cover;}
.lecture_most h3 {margin:10px 0;}
.lecture_most p {word-spacing:normal; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis;}
.lecture-bottom .order-infor {padding: 10px 26px; margin-top:10px;}
.lecture-bottom {position: relative;}
.lecture-bottom .order-payment {position:sticky; top: 104px; align-self:flex-start;}
.cart-box h3 {color:var(--primary-c);}
.cart-box p {margin-bottom:10px;}
/* 공지,qna 공통(유부현) */
.list-h2{font-weight:var(--bold, 700); padding-bottom: 10px;}
.list-text{gap:16px}
.communi-sec .community .communi-hr {margin:10px 0;}

/* 공지사항 (유부현) */
.notice-list{padding-top: 18px; padding-bottom: 18px; padding-left: 11px;}
.notice-profil{padding-bottom: 26px;}
.notice-text{ width: 900px;}
.notice-fix{width: 212px; height: 520px;}
.notice-content{gap: 120px;}
/* qna (유부현) */
/* .qna-up-title{border: none;} */
.qna-list{padding-top: 26px; padding: 18px 11px;}
.qna-text{padding-bottom: 10px;}
.qna-span{color: var( --text-c2);}
.qna-icon{background-color: var(--primary-c); opacity : 0.5; border-radius: 50%; width: 60px; height: 60px; position: relative;}
.qna-icon2{background-color: #6ED48B; border-radius: 50%; width: 60px; height: 60px; position: relative;}
.question-icon{color: var(--sub-txt-c); text-align: center; padding: 8px 0;}
.comment-icon{color: #fff; text-align: center; padding: 8px 0;}
.question-data{padding-bottom: 26px;}
.question-title{font-weight: 600; padding: 10px 16px;}
.question-text{padding: 26px 40px;}
.question-text > button{float: right; border: none; background-color: transparent;}
/* .qna-up-title{border: none;} */
.qna-up-title ::placeholder{color: var(--text-c6); font-weight: 600; padding-bottom: 26px;}
.qna-up-title{padding-bottom: 26px;}
.qna-up-info{color: var(--text-c6);}
.note-resizebar{display: none;}
.input-group .ipt-wrap {position:relative; padding-right:30px;}
.qna-control {font-size:1.6rem; padding:4px 40px 4px 10px; border: none;}
/* event (유부현) */
.list-group.box-list {display:flex; flex-direction:row; flex-wrap:wrap; justify-content:space-between; gap:0;}
.list-group.box-list > .list-group-item  {/*display:flex; gap:30px;*/ width:calc((100% / 2) - 15px); padding:18px; border:1px solid var(--ipt-border,#DEE2E6); border-radius:10px; box-shadow: 0px 4px 4px 2px rgba(222, 226, 230, 0.5);}
.list-group.box-list > .list-group-item:nth-child(n+3)  {margin-top:32px;}
.list-group.box-list .img-wrap {flex:0 0 292px; width:292px; height:292px; border-radius:10px; overflow:hidden;}
.list-group.box-list .img-wrap img {width:100%; height:100%;}
.list-group.box-list .info-area {width:100%;}
.list-group.box-list .edit-btn-group {display:flex; justify-content:end; gap:16px}
.list-group.box-list .edit-btn-group >button {width:24px; height:24px; padding:0;}
.list-group.box-list .edit-btn-group >button > i {font-size:2.4rem;}
.list-group.box-list .tit-group {display:flex; justify-content:space-between; align-items:center; margin:55px 0 35px;}
.list-group.box-list .txt-group > p {margin-top:16px; font-size:2rem;}

.event-top-btn > button{border: none; background: none; }


/* progressbar(박소현)  */
.progress {width:100%; height:12px; margin-bottom:42px; background-color:var(--bg-sub2-c, #eee);}
.progress .graph {display:block; position:relative; width:0; height:12px; background-color:#913dd3;}
.count,
.count em {font-size:15px; font-weight:700;}
.count {display:block; padding-top:24px; text-align:right;}
.txt {display:block; text-align:right;}
.lecture-area .progress {margin-top:52px;}

/* 마이페이지 회원 프로필(박소현) */
[class^=tit-] + .form-list .pf-area {margin-top:32px;}
.pf-area .content > .btn {min-width:34px; height:26px; padding:4px; font-size:1.4rem;}
.pf-area .content > .txt-xs {color:var(--body-txt, #222); margin-top:8px;}
.pf-area .content > #uploadImage {display:none;}

/* 쿠폰&포인트 (박소현) */
.point-txt > em {color:var(--primary-c, #472ea1); font-weight:var(--bold, 700);}
.coupon-list {display:flex; justify-content:flex-start; flex-wrap:wrap;}
.coupon-list .list {width:calc((100% / 3) - 26px); height:156px; margin-right:26px; border:1px solid var(--body-txt, #222); background:url(../image/bg_coupon.png) no-repeat top center / 372px auto;}
.coupon-list .list .inner {padding:26px 10px;}
.coupon-list .list:nth-child(3n) {margin-right:0;}
.coupon-list .list:nth-child(n+4) {margin-top:26px;}
.coupon-list .list .inner > * {display:block;}
.coupon-list .tit-h5 {margin:16px 0; font-weight:var(--bold, 700); max-width:216px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.coupon-list .date {font-size:1.4rem; color:var( --text-c4,#4D4C51);}

/* 쿠폰 다운로드 */
.coupon-list.down .list {width:calc((100% / 3) - 20px); height:196px; background-size:466px auto; margin-right:30px;}
.coupon-list.down .list:nth-child(3n) {margin-right:0;}
.coupon-list.down .list .inner {padding:36px 10px;}
.coupon-list.down .list .btn-area {justify-content:flex-start; margin-top:16px;}
.coupon-list.down .list .btn-area .btn {height:40px; line-height:40px; padding:0 16px;}
.coupon-list.down .list .btn-area .btn:after {content:''; display:inline-block; width:20px; height:20px; background:url(../image/ico_download.png) no-repeat top 4px center / 20px auto; margin-left:4px;}