@charset "utf-8";
@import url(common.css);

/* 로그인 (우예지) */
#login-wrap {background:var(--bg-sub1-c); height:100vh; position:relative;}
#login-wrap .login-bg {
  width: 900px;
  height: 900px;
  background-image: url(../image/login-bg.png);
  background-position:bottom center;
  background-repeat:no-repeat;
  background-size:contain;
  position:absolute;
  left:50%; bottom:0;
  transform:translateX(-50%);
}
#login-wrap img {width:380px;}
#login-wrap form {width:578px; position:absolute; left:46%; top:50%; transform:translate(-50%, -50%);}
#login-wrap h1.mb-6{margin-bottom:34px;}
#login-wrap .etc-list{justify-content: center;}
/* #login-wrap form input{width: 100%;} */
#login-wrap form .label-ml{margin-left: 18px;}
/* .form-floating>.form-control{padding-top:2.5rem;} */
.form-floating>.form-control:focus {padding-top:2.5rem;}
.form-floating>.form-control:not(:placeholder-shown) {padding-top:2.5rem;}
.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select{height:auto; padding-top:2.5rem;}
#login-wrap .log-btn {width:563px; height:57px; font-size:2.8rem; font-family:var(--laundrygothic, 'LaundryGothic', sans-serif);}
#login-wrap .list-group.list-group-horizontal {justify-content:end;}

/* 회원가입 (우예지) */
#sign-wrap {height:100vh; position:relative;}
#sign-wrap .sign-bg {width:900px; height:900px; position:absolute; left:50%; bottom:0; transform:translateX(-50%);}
#sign-wrap img {width:380px;}
#sign-wrap form {width:578px; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);}
#sign-wrap h1.mb-6{margin-bottom:34px;}
#sign-wrap .etc-list{justify-content: center;}
/* #login-wrap form input{width: 100%;} */
#sign-wrap  form .label-ml{margin-left: 18px;}
/* .form-floating>.form-control{padding-top:2.5rem;} */
.form-floating>.form-control:focus {padding-top:2.5rem;}
.form-floating>.form-control:not(:placeholder-shown) {padding-top:2.5rem;}
.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select{height:auto; padding-top:2.5rem;}
#sign-wrap strong {color: var(--text-c2);}
#sign-wrap .log-btn {width:563px; height:57px; font-size:2.8rem; font-family:var(--laundrygothic, 'LaundryGothic', sans-serif);}
#sign-wrap .list-group-horizontal {justify-content:end;}

/* 풀배너, 섹션1~2 (우예지) */
#banner li {list-style: none;}
#banner .slidewrapper {width:100%; height:344px; position:relative; overflow:hidden;}
#banner .slidecontainer {position:relative; height:100%;}
#banner .slide {position:absolute; width:100%; height:344px;}
#banner .slidewrapper .pager{position:absolute; left:200px; bottom:20px; display:flex; gap:10px; z-index:10;}
#banner .slidewrapper .pager a {width:15px; height:15px; background:var(--text-c6); border-radius:50%; text-indent:-9999em;}
#banner .slidewrapper .pager a.active {background:var( --text-c2); width:30px; border-radius:50px;}
.lecture-list ul {gap:40px}
.lecture-list li {list-style:none; text-align:center;}
.lecture-list li img {width:100px; height:100px; object-fit:cover; display:block; border:2px solid var(--ipt-border); border-radius:10px;}
.lecture-list li img:hover {border-color:var(--text-c2);}
.lecture-list li span {line-height: 46px;}

/* 공지,qna 공통(유부현) */
.list-h2{font-weight:var(--bold, 700); padding-bottom: 10px;}
.list-text{gap:16px}

/* 공지사항 (유부현) */
.notice-list{padding-top: 26px; padding-bottom: 26px; padding-left: 11px;}
/* qna (유부현) */
.qna-list{padding-top: 26px; padding: 26px 11px;}
.qna-text{padding-bottom: 10px;}
.qna-span{color: var( --text-c2);}
.qna-icon{background-color: var(--primary-c); opacity : 0.5; border-radius: 50%; width: 60px; height: 60px; position: relative;}
.question-icon{color: var(--sub-txt-c); text-align: center; padding: 8px 0;}
.question-data{padding-bottom: 26px;}
.question-title{font-weight: 600; padding: 10px 16px;}
.question-text{padding: 26px 40px;}
.question-text > button{float: right; border: none; background-color: transparent;}


/* 마이페이지(박소현) */
.my-gnb-wrap {width:212px; padding:48px 0 26px}
.my-gnb-wrap .sub-menu .accordion-button {padding:4px 10px;}

/* progressbar */
.progress {width:100%; height:12px; margin-bottom:42px; background-color:var(--bg-sub2-c, #eee);}
.progress .graph {display:block; position:relative; width:0; height:12px; background-color:#913dd3;}
.count,
.count em {font-size:15px; font-weight:700;}
.count {display:block; padding-top:24px; text-align:right;}
.txt {display:block; text-align:right;}

/* 마이페이지 회원 프로필 */
[class^=tit-] + .form-list .pf-area {margin-top:32px;}
.pf-area .content > .btn {min-width:34px; height:26px; padding:4px; font-size:1.4rem;}
.pf-area .content > .txt-xs {color:var(--body-txt, #222); margin-top:8px;}