@import url(common.css);

/* 메인레이아웃 */
.admin-wrapper {display:flex;}
.admin-wrapper > nav {width:337px; height:100vh; background-color:var(--bg-sub1-c, #eeeafe);}
.admin-wrapper .container {max-width:1459px;}