@import url(common.css);

.container{max-width:1400px; margin:0 auto; padding:0;}

/*===== 서브페이지 레이아웃 =====*/
.sub .container {display:flex; justify-content:space-between; flex-wrap:wrap;}
.sub .sub-menu {width:212px;}
.sub .con-wrap {width:calc(100% - 360px);}
.sub .filter-area {display:flex; align-items:center; justify-content:flex-end; gap:30px;}
.sub .filter-area .difficulty {display:flex; align-items:center; gap:30px;}
.sub .filter-area .ipt-wrap {position:relative;}
.sub .filter-area .ipt-wrap > input {height:26px; line-height:52px; max-width:360px; padding:16px 40px 16px 16px;}
.sub .filter-area .ico-search {position:absolute; top:50%; transform:translateY(-50%); right:16px; width:24px; height:24px; display:flex; justify-content:center; align-items:center; border:none; background:none;}
.sub .filter-area .ico-search > i {font-size:1.6rem; color:var(--placeh-c,#969696);}
.sub .sort-area {display:flex; justify-content:flex-end; margin-top:10px;}
.sub .sort-area .form-select {width:auto; min-width:100px; padding:2px 8px; background:url(../image/ico_select_arrow.png) no-repeat right 8px center / 10px auto; font-size:1.4rem;}