@import url(common.css);

.container{max-width:1400px; margin:0 auto; padding:0;}

/*===== 서브페이지 레이아웃(박소현) =====*/
.sub .container {display:flex; justify-content:space-between; flex-wrap:wrap;}
.sub .sub-menu {width:212px;}
.sub .sub-menu .list-group {gap:0;}
.sub .sub-menu > ul > li {border-bottom:1px solid var(--ipt-border,#DEE2E6);}
.sub .sub-menu .logout {margin:26px 0 0 10px;}
.sub .sub-menu .logout a {color:var(--text-c6,#888893);}

.sub .sub-menu .accordion-item {border:0;}
.sub .sub-menu .accordion-button {display:flex; gap:16px; font-size:2rem; background:none; box-shadow:none; padding:10px 22px; font-weight:var(--bold,700);}
.sub .sub-menu .accordion-button::after {content:none;}
.sub-menu .on .accordion-button {color:var(--primary-c,#472ea1);}
.sub .sub-menu .accordion-button > span {display:inline-block;}
.sub .sub-menu .accordion-body {padding: 10px 60px; font-size:20px;}
.sub .con-wrap {width:calc(100% - 240px);}
.sub .sort-area {display:flex; justify-content:flex-end; margin:10px 0 26px;}
.sub .sort-area .form-select {width:auto; min-width:100px; padding:2px 8px; background:url(../image/ico_select_arrow.png) no-repeat right 8px center / 10px auto; font-size:1.4rem;}

/*===== header(박소현) =====*/
header {position:sticky; left:0; right:0; top:0; z-index:101; background-color:var(--white, #fff); box-shadow:0px 4px 4px 0px rgba(0,0,0,.25);}
header .top-area {height:40px; display:flex; align-items:center;}
header .util-list {flex-direction:row; gap:16px; justify-content:flex-end;}
header .util-list .user-menu {position:relative; cursor:pointer;}
header .util-list .login-profile {display:flex; justify-content:center; align-items:center; gap:2px; padding-right:16px;}
header .util-list .login-profile:after {content:''; position:absolute; top:10px; left:calc(100% - 10px); border-width:5px; border-style:solid; border-color:var(--body-text, #222) transparent transparent transparent; margin-left:0;}
header .util-list .login-profile .img-wrap {display:flex; justify-content:center; align-items:center; width:20px; height:20px; border-radius:50%; border:1px solid var(--body-text, #222);}
header .util-list .user-menu-list {display:none; gap:8px; min-width:110px; position:absolute; top:100%; right:0; padding:10px; border-radius:10px; background-color:var(--white, #fff); z-index:100; box-shadow:0px 4px 4px 0px rgba(0,0,0,.25);}
header .util-list .user-menu:hover .login-profile:after {top:5px; transform:rotate(-180deg);}
header .util-list .user-menu:hover .user-menu-list {display:flex;}
header .util-list .user-menu-list li {text-align:center;}
header .util-list .user-menu-list li.line {border-top:1px solid var(--ipt-border,##DEE2E6);}
header .util-list .user-menu-list li:hover a {border-bottom:1px solid var(--body-text, #222);}
header .util-list .user-menu-list a {font-size:1.4rem;}
header .gnb-area {height:64px; display:flex; align-items:center;}
header .gnb-area .gnb {display:flex; justify-content:space-between; align-items:center;}
header .gnb-area .left {display:flex; justify-content:center; align-items:center;}
header .gnb-area .logo {display:inline-block; margin-bottom:0;}
header .gnb-area .logo > a {display:block; width:96px; height:32px; background:url(../image/logo.png) no-repeat 0 center / 96px auto;}
header .gnb-list {flex-direction:row; gap:16px;}
header .gnb-list > li {position:relative;}
header .gnb-list > li .sub-wrap {display:none; position:absolute; top:100%; left:-50%; background-color:var(--white, #fff); padding:10px 16px; min-width:134px; justify-content:center; text-align:center; box-shadow:0px 4px 4px 0px rgba(0,0,0,.25); border-radius:10px; z-index:100;}
header .gnb-list > li:hover .sub-wrap {display:flex;}
header .gnb-list > li > a {font-weight:var(--bold, 700);}
header .gnb-list .sub-wrap > ul {gap:6px;}
header .gnb-list .sub-wrap > ul a {font-size:1.4rem;}
header .gnb-list .sub-wrap > ul a:hover {border-bottom:1px solid var(--body-text,#222);}
header .filter-area .ipt-wrap > input {background-color:#ebebeb; border:none;}

/*===== footer(박소현) =====*/
footer {padding:52px 0; margin-top:78px; background-color:var(--primary-c,#472ea1);}
footer .logo {display:inline-block; width:100px;}
footer .etc-list {margin-bottom:10px;}
footer .etc-list.link {margin-bottom:26px;}
footer .etc-list > li:after {height:10px; }
footer .etc-list li,
footer .etc-list a,
footer .copy {color:#fff; font-size:1.4rem;}

/* 마이페이지 (박소현) */
.sub.mypage .sub-menu {margin-top:26px;}
.my-gnb-wrap {width:212px; padding:48px 0 26px}
.my-gnb-wrap .sub-menu .accordion-button {padding:4px 10px;}

.user-bf-list.list-group {gap:8px; padding:0 10px;}
.user-bf-list li {display:flex; justify-content:space-between;}
.user-bf-list .item {font-size:1.4rem;}
.user-bf-list .val {font-size:1.4rem;}
.user-bf-list .val > .num {color:var(--primary-c,#472ea1); border-bottom:1px solid var(--primary-c,#472ea1); font-weight:var(--bold,700);}