@import url(../../css/common.css);

.list-group-numbered > li {background:none; border:none; font-size:2.0rem; font-weight:var(--bold);}
.promise {padding:30px; background-color:var(--primary-c); color:var(--white); font-family:var(--laundrygothic);}
.promise .list-group-numbered > li {background:none; border:none; color:var(--white); font-size:2.8rem;}

#myTab.guide .nav-item {flex:1 1 auto;}
#myTab.guide .nav-link {width:100%;}
#myTab.guide + .tab-content {padding:0 30px;}

#rules-tab-pane .tit-h3 {background-color:var(--primary-c); color:var(--white); font-weight:var(--bold);}
.fa-solid.fa-small::before {font-size:24px;}
.fa-solid.fa-big::before {font-size:34px;}
.btn.btn-sm.thumb-text{font-size:16px; width: 300px;}
#addedImages {padding: 30px 0;}
#addedImages > img{width:300px; height:300px; object-fit:cover;}
.box {width: 800px; height: 200px; background: var(--bg-sub1-c);}