@charset "utf-8";
@import url(common.css);

/* 로그인.html (우예지) */
#login-wrap {
  background: var(--bg-sub1-c);
  height: 100vh;
  position: relative;
}

#login-wrap .login-bg {
  width: 900px;
  height: 900px;
  background-image: url(../image/login-bg.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%; bottom: 0;
  transform: translateX(-50%);
}
#login-wrap form {
  width: 578px;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}
#login-wrap h1.mb-6{margin-bottom: 60px;}
/* #login-wrap form input{width: 100%;} */
#login-wrap form label{margin-left: 18px;}
.form-floating>.form-control:focus {padding-top: 2.5rem;}
.form-floating>.form-control:not(:placeholder-shown) {padding-top: 2.5rem;}
.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select{
  height: auto;
}
.log-btn {
  width: 563px;
  height: 42px;
}

/* 이벤트리스트(박소현) */
.event-list {}